@model IEnumerable<string>
<a class="nav-link"
   asp-action="List"
   asp-controller="Product"
   asp-route-category="">
    All
</a>

@foreach (string category in Model)
{
    <a class="nav-link @(category == ViewBag.SelectedCategory ? "btn-secondary" : "")"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="@category"
       asp-route-page="1">
        @category
    </a>
}