@model Cart

<div class="">
    @if (Model.CartLines.Any())
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.CartLines.Sum(x => x.Quantity) item(s)
            @Model.TotalCost.ToString("c")
        </small>
    }
    <a class="btn btn-sm btn-secondary navbar-btn"
       page-controller="Cart" page-action="Index" page-return-url="@ViewContext.HttpContext.Request.PathAndQuery()"
    >
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>
